.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  height: 820px;
  background-size: cover;
  background:#F0F0EF; 
  background-attachment: fixed;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  background:#F0F0EF; 
  background-size: cover;
  background-attachment: fixed;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Macaron Buttons Intro*/

.projButton{
  background:url(./images/projButton.png) no-repeat;
  cursor:pointer;
  width: 50%;
  height: 50%;
  transform: scale(0.25,0.25);
  border: none;
  flex: 1;
}

.expButton{
  background:url(./images/expButton.png) no-repeat;
  cursor:pointer;
  width: 50%;
  height: 50%;
  transform: scale(0.25,0.25);
  border: none;
  flex: 1;
  margin-left: -200px;
}

.journButton{
  background:url(./images/journButton.png) no-repeat;
  cursor:pointer;
  width: 50%;
  height: 50%;
  transform: scale(0.25,0.25);
  border: none;
  flex: 1;
  margin-left: -200px;
}

.projButton:hover
{   
  transform: scale(0.35,0.35);
}

.expButton:hover
{   
  transform: scale(0.35,0.35);
}

.journButton:hover
{   
  transform: scale(0.35,0.35);
}

.Name{
  font-size: 200%;
  margin-top: 1%;
  width: 100%;
  height: 5%;
  font-family: "Trebuchet MS";
  background:#F0F0EF; 
  color: #717171;
}

.Title{
  font-size: 90%;
  color: #5E5E5E;
  font-family: "Trebuchet MS";
}

.Introduction{
  font-size: 200%;
  color: gray;
  margin-top: -10%;
  font-family: "Trebuchet MS";
}
